{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>만든 사람들</title>
    <link rel="icon" href="{% static 'images/봄봄2_투명.png' %}">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/aboutUs.css' %}" />
  </head>
  <body>
    <div class="header_side">
        <a href="/" class="logo"></a>
        <a href="/" class="home"></a>
    </div>
  
    <div class="item_list">
      <div class="card">
        <div class="profile_img" id="nr"></div>
        <div class="introduce">
          <h2>[DS] 차나래</h2>
          <p>조장<p>딥러닝 모델링<p>화면 디자인</p>
        </div>
      </div>
      <div class="card">
        <div class="profile_img" id="hn"></div>
        <div class="introduce">
          <h2>[DS] 김해니</h2>
          <p>DS 파트장<p>딥러닝 모델링<p>화면 디자인</p>
        </div>
      </div>
      <div class="card">
        <div class="profile_img" id="jw"></div>
        <div class="introduce">
          <h2>[DS] 손정우</h2>
          <p>딥러닝 모델링<p>로고 디자인</p>
        </div>
      </div>
      <div class="card">
        <div class="profile_img" id="je"></div>
        <div class="introduce">
          <h2>[DE] 정지은</h2>
          <p>DE 파트장<p>백엔드</p>
        </div>
      </div>
      <div class="card">
        <div class="profile_img" id="kh"></div>
        <div class="introduce">
          <h2>[DE] 권기훈</h2>
          <p>백엔드<p>음성 서비스 구현</p>
        </div>
      </div>
      <div class="card">
        <div class="profile_img" id="mj"></div>
        <div class="introduce">
          <h2>[DS] 장민준</h2>
          <p>백엔드<p>서비스 배포</p>
        </div>
      </div>
    </div>
    <a id="source" href="https://kr.freepik.com/free-vector/hand-drawn-design-people-avatars_7081810.htm#query=person&position=11&from_view=search&track=sph#position=11&query=person">Image Designed by Freepik</a>
  </body>
</html>